.content {
    display: flex;
    width: 600px;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    border: 10px solid;
    border-radius: 10px;
    border-color: #3d43b8;
    padding: 40px;
    background: #5d63d4;
    color: #ffffff;
    margin-bottom: 50px;
}

.content-title {
    font-weight: bold;
    font-size: 35px;
}

.content-text {
    font-weight: bold;
    font-size: 20px;
}
