.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #3d43b8;
    font-size: 18px;
}

.navbar-brand {
    cursor: pointer;
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar-logo {
    width: 50px;
}

.navbar-items {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff;
}
